body{
    background-color: rgb(154, 116, 241);
    color: rgb(13, 25, 36);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.second{
    padding: 20px 
}
.first{
    padding: 20px 
}
.third{
    padding: 20px  
}
input[type=text]{
    border-radius: 10px;
    padding: 7px;
}
input[type=age]{
    border-radius: 10px;
    padding: 7px;
}
input[type=nationality]{
    border-radius: 10px;
    padding: 7px;
}
input[type=email]{
    border-radius: 10px;
    padding: 7px;
}
input[type=tel]{
    border-radius: 10px;
    padding: 7px;
}
input[type=number]{
    border-radius: 10px;
    padding: 7px;
}
input[type=submit]{
    width: 10%;
    background-color: rgb(245, 129, 129);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}input[type=submit]:hover{
    background-color: darkcyan;
}